n8n/CSEN_296B_Blue_Team_Model.json
{
  "name": "CSEN 296B Blue Team Model",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        1200
      ],
      "id": "94a253d2-8ffa-4502-b121-58e590264637",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd74bb19-89aa-4fb4-b34a-6b484bb18a59",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2304,
        1024
      ],
      "id": "7cb2dc0a-fb0f-405f-be15-9c857714c9f7",
      "name": "If1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expenseUpload",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3296,
        816
      ],
      "id": "2101eeb8-b5b9-4a84-a92d-405fa200c374",
      "name": "Upload Document",
      "webhookId": "d5e75ac9-e43d-4a1c-a861-18d7e56dbd95",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2832,
        1136
      ],
      "id": "11120a94-76aa-4d7f-b24f-aeb913b78117",
      "name": "xls to json"
    },
    {
      "parameters": {
        "jsCode": "// const finalPayload = JSON.stringify($input.all().map(item => item.json));\n// return [{ json: { bodyString: finalPayload } }];\n\nreturn [\n  {\n    json: {\n      data: $input.all().map(item => item.json)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        1136
      ],
      "id": "6b581ab6-2f86-4cb9-8572-8f806670d800",
      "name": "Format json into json string"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://filter-service:5001/verifyfile",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2448,
        1136
      ],
      "id": "a99e9226-eac9-485d-bebc-56748f5ccb23",
      "name": "Verify Document",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        1088
      ],
      "id": "8c26c473-3e00-4211-be5e-869cfada4699",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output.content }}",
        "name": "={{ $json.output.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        848
      ],
      "id": "87ea126e-f81a-43ff-a78f-d01cd6743eb1",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"name\": \"name here\",\n\t\"content\": \"string here\",\n    \"operation\": \"op\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -32,
        1040
      ],
      "id": "752d3d1c-71fa-4564-a220-6c4b9366591d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        1936
      ],
      "id": "aee82690-1fcf-4d36-bcf2-426b4b8aaa04",
      "name": "Simple Memory1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        1872
      ],
      "id": "9d9f99cc-54a9-4a90-8183-08ef7424db42",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"recipient\": \"email\",\n\t\"subject\": \"string here\",\n    \"message\": \"content\",\n    \"attachment\": false,\n    \"attachment_name\": \"file name\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        1888
      ],
      "id": "f036f6e2-b8ac-4abe-9e16-51dea5f1d10d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Google Drive Agent').item.json.output.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        688
      ],
      "id": "a7a79e60-7848-4971-abd2-16d03e530358",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.operation }}",
                    "rightValue": "createf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d123d32-d8a5-4e56-8b16-2c2bef4017e3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b5c78f7-8982-439b-9731-22568d75963d",
                    "leftValue": "={{ $json.output.operation }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "464e7a3d-3257-4fe5-9bc2-52610a41ea7e",
                    "leftValue": "={{ $json.output.operation }}",
                    "rightValue": "openf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0faf1e57-69ff-4140-9fc2-037a1dd5a9af",
                    "leftValue": "={{ $json.output.operation }}",
                    "rightValue": "open",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36b1f1a1-ba3f-4582-9a9b-d249f4665042",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        144,
        864
      ],
      "id": "b7a6a5d0-4d84-41a5-b77e-4abcdba75bf5",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.output.recipient }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        1776
      ],
      "id": "e45421ba-4116-4ed3-a1ff-411b9079d4ae",
      "name": "Send a message",
      "webhookId": "091e86df-71dc-4958-9e73-656f72e2a98a",
      "credentials": {
        "gmailOAuth2": {
          "id": "ea7jSlHYi60T6XaV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "id": "237fb721-ee83-4664-8cb4-fb6c45dc8194",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -2736,
        256
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2848,
        432
      ],
      "id": "223e32c2-e2ec-402a-9a7c-67b34a930633",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3008,
        96
      ],
      "id": "c45ef3b4-8675-4d5d-8f70-e7964b691fd6",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=knowledge",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -2752,
        96
      ],
      "id": "0a6b2c4c-d952-415f-8ca1-a80e3aa59d70",
      "name": "Qdrant Vector Store",
      "notesInFlow": false,
      "credentials": {
        "qdrantApi": {
          "id": "LJTZXDcqvnaM6Phi",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1iA5uhdJ1SWDjN30WOR-_YC8HxqUnTrdL",
          "mode": "list",
          "cachedResultName": "Vector DB",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iA5uhdJ1SWDjN30WOR-_YC8HxqUnTrdL"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2288,
        416
      ],
      "id": "a3f70de9-76e0-4ec9-9af9-b3a525204d3f",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3232,
        176
      ],
      "id": "3226e212-471a-443f-8391-33264e5dc23b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://qdrant:6333/collections/knowledge",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3744,
        480
      ],
      "id": "bcce8f6a-4e0f-4db6-8a5f-256b962c940a",
      "name": "Delete Qdrant collections",
      "disabled": true
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2640,
        416
      ],
      "id": "ac8c9fe4-7017-4f71-8733-6d3585f7218e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "id": "81a13e0c-f131-41fa-b968-05f98d6880dc",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -3648,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "16dbsE-zp6uE-WZGvEQcXmRHU0w_Di98m",
            "mode": "list",
            "cachedResultName": "Input Files",
            "cachedResultUrl": "https://drive.google.com/drive/folders/16dbsE-zp6uE-WZGvEQcXmRHU0w_Di98m"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3456,
        -16
      ],
      "id": "e27c6a74-46f8-4371-be09-bdd3cdd05cb1",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"input\": \"VectorDB\",\n        \"workflow\": \"Add Element\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"File {{ $json.name }}: Added to Vector Database\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2096,
        416
      ],
      "id": "c4fb9c65-d75c-4af5-bea3-09e2f60062bb",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3712,
        -16
      ],
      "id": "619ae97f-3db5-41cd-a4c8-be4fab6d3a1e",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87a8fff9-87c2-47da-86ee-6fa08416d5c4",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3248,
        -16
      ],
      "id": "ad2f6939-e44f-4d31-a9c0-be36fd90bab8",
      "name": "If2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this string \"{{ $json.filtered_text }}\", identify which task(s) are needed given the names and definitions below of each.  You may have also received a json file that may be used along with the incoming task.:\n\n\n\"sheet\" - processes expense reports, validates reimbursements, and updates HR/finance data.  \n\n\"drive\" - uploads, retrieves, and searches enterprise documents and policies from drive / google drive.\n\n\"email\" - composes, sends, or reads enterprise emails and notifications.\n\n\"question\" - No tasks are required and input data simply need to be passed to an LLM to answer.\n\nIf the prompt asks to send a file to an email address then the task will just be \"email\" becuase it will also download the file\n\nFormat your ouput as an array of json strings, having one or multiple actions, where the key \"agent\" will have a corresponding value of one of the identified tasks. \n\n\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1408,
        1312
      ],
      "id": "85c4815c-c0b1-45ee-bc55-f6c308e80e9b",
      "name": "Task Decomposition",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent }}",
                    "rightValue": "sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fc7ea2ee-e60e-4a8e-823c-799b32da464a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9dd06303-8f65-45af-8847-f6773a662d15",
                    "leftValue": "={{ $json.agent }}",
                    "rightValue": "drive",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c29abab9-dd9b-438f-bbfa-debfd4d27b31",
                    "leftValue": "={{ $json.agent }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d959f069-dada-4737-a3db-d8c591d55fd4",
                    "leftValue": "={{ $json.agent }}",
                    "rightValue": "question",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -688,
        1408
      ],
      "id": "a47b28bd-7217-4a38-836d-629b2eb08d45",
      "name": "Agent Router"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2400,
        2272
      ],
      "id": "cfa386c0-c46e-410e-aac3-895111ad9942",
      "name": "Merge",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        208
      ],
      "id": "c2d1e6cc-d830-4614-98fc-c7fa759ebfb4",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uwoq34r9PBLNkXRr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI",
          "mode": "list",
          "cachedResultName": "Master Expense",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "TransactionID"
          ],
          "schema": [
            {
              "id": "TransactionID",
              "displayName": "TransactionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EmployeeID",
              "displayName": "EmployeeID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateIncurred",
              "displayName": "DateIncurred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateSubmitted",
              "displayName": "DateSubmitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PaymentMethod",
              "displayName": "PaymentMethod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AmountUSD",
              "displayName": "AmountUSD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReceiptAttached",
              "displayName": "ReceiptAttached",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReimbursementType",
              "displayName": "ReimbursementType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        48
      ],
      "id": "b2ce87d0-3e4b-4aa0-8049-d3145cc375e1",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uwoq34r9PBLNkXRr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "append",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0f104b6d-0bf8-40e1-93e5-fe13c6cc355f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ebd20169-d9bd-499b-88c3-d65e56ef27b9",
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "update ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c43216e1-c7eb-4ede-84db-e84317f2a9d4",
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6f45ef7b-8ee8-45b0-857d-c5b12514b1d8",
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "retrieve",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        144,
        160
      ],
      "id": "1ae24519-6c49-46b6-a572-fb22e5df6887",
      "name": "Sheet Router"
    },
    {
      "parameters": {
        "jsCode": "const a = JSON.stringify($('Convert data into single json array').first().json.rows);\nreturn JSON.parse(a).map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -144
      ],
      "id": "69a9b1a3-8af6-4b17-b64f-aca213684381",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1456,
        1472
      ],
      "id": "31d614b8-e882-4490-95f6-18782f296e0f",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1328,
        1504
      ],
      "id": "808239de-1f51-4f51-b377-5ed146da2602",
      "name": "Simple Memory3",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        384
      ],
      "id": "857b1914-83a3-47d3-94c1-ca68c5e05919",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        416
      ],
      "id": "a288a6c7-bcb3-4576-8643-040d278b0eb9",
      "name": "Simple Memory4",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"actions\": [\n    {\n      \"agent\": \"sheets\",\n      \"action\": \"<short action phrase>\",\n      \"reason\": \"<why this agent was chosen or what it will do>\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1184,
        1488
      ],
      "id": "eb9b5e0f-7663-4ec2-b124-dd77c69a01a5",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"action\" : \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        16,
        384
      ],
      "id": "17710210-7f31-4c1e-8da4-61d569eaf425",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "content": "# Vector Database Manager\n\n",
        "height": 736,
        "width": 1968,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3824,
        -96
      ],
      "typeVersion": 1,
      "id": "14823934-0342-4fb1-8963-4ad50a2afdb1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2432,
        2080
      ],
      "id": "e3ec40cd-112a-4071-bcd5-7ffe3e73cdc1",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Input Data - Text and Files\n\n",
        "height": 1504,
        "width": 2016
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3840,
        704
      ],
      "typeVersion": 1,
      "id": "0007c7cc-2c76-40e7-bfc5-364811be795f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Task Decomposition and Flow Separating \n",
        "height": 480,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        1200
      ],
      "typeVersion": 1,
      "id": "7ce7d08f-dcd4-477b-8e61-290ec4141777",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "name = 'expensegood.xls' and '1OiXdYxV0FQykhjHk-dgf0CVnuheYpUS8' in parents and trashed = false",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3200,
        2256
      ],
      "id": "c0d6751d-c447-482c-adc1-181ffbb69eaf",
      "name": "Retrieve Expensegood.xls",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3024,
        2256
      ],
      "id": "a6734dac-36e8-49a6-a7e9-d3d3c05db9b7",
      "name": "Download Excel File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2816,
        2256
      ],
      "id": "ffdcadd9-a986-493f-8b84-43e23cafebae",
      "name": "Convert excel file to json",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// input: many items (each item = one row)\n// output: one combined item containing all rows for Task Decomposition\n\nconst rows = $input.all().map(i => i.json);\n\nreturn [\n  {\n    json: {\n      text: \"Process employee expense report and update master sheet, then notify.\",\n      file_present: true,\n      file_type: \"application/vnd.ms-excel\",\n      rows, // full array of expense rows\n    },\n  },\n];\n\nconst items = $input.all();\nif (!items.length) {\n  return [{ json: { file_present: false, file_type: \"\", rows: [] } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        2256
      ],
      "id": "14949546-a230-4d12-aa1f-47bb28623196",
      "name": "Convert data into single json array",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// const subtasks = $input.first().json.output.actions || [];\n// return subtasks.map(t => ({ json: t }));\n\nconst subtasks = $input.first().json.output.actions || [];\nreturn subtasks.map(t => t);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1440
      ],
      "id": "5a58b0cc-f6c6-4092-9b3d-cc7a8314b72a",
      "name": "SubTasks Split Function"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        2736
      ],
      "id": "b87747fb-7c83-4939-8bf6-ccfcf98beb94",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool holds information that you can search via RAG to help answer questions prompted by the user.",
        "qdrantCollection": {
          "__rl": true,
          "value": "knowledge",
          "mode": "list",
          "cachedResultName": "knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -128,
        2752
      ],
      "id": "de7d8234-8922-4806-a7f2-4776786e4d90",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "LJTZXDcqvnaM6Phi",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        2896
      ],
      "id": "f3a7b909-9a57-4a79-bfbc-45983ba2ae51",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8fa9c97d-ba14-4223-aabf-68d1fdd6f035",
              "name": "chatinput",
              "value": "={{ $('Prompt Filtering Check').item.json.filtered_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        2560
      ],
      "id": "5705197a-c5f0-4eb2-87ed-fa09c5eccb2a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"prompt filtering\",\n        \"node\": \"Prompt Injection Not Detected\",\n        \"event_type\": \"Running prompt filter check\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"Received String: {{ $json.filtered_text }} - No prompt filtering detected\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2160,
        1504
      ],
      "id": "3b0a9ef2-9f56-468d-9903-e4635d1405bc",
      "name": "No Prompt Injection Detected Log"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"prompt filtering\",\n        \"node\": \"Prompt Injection Detected\",\n        \"event_type\": \"Running prompt filter check\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"Received String: {{ $json.filtered_text }} - Prompt filtering detected!\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2576,
        1920
      ],
      "id": "4b3f0160-3cb4-42da-8ded-0f2d1fcf7158",
      "name": "Prompt Injection Detected Log",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f13d079-22cb-4f96-baf6-5a561c5600f7",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2384,
        1664
      ],
      "id": "7ecfd1f0-b56d-4be4-b7e9-5f151a4b589e",
      "name": "If No prompt Injection "
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Prompt Filtering Check').item.json.filtered_text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -2416,
        1920
      ],
      "id": "95729e93-e60a-402c-a123-e0e37c3835c2",
      "name": "LLM To answer malicious questions",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will parse a message to then send an email.  Parse the incoming message and fill out the json that I have provided.  The incoming message will either include the recipient email or you will need to do an SQL lookup of their name to get their email address. If an attachment needs to be provided, fill the \"attachment\" field with a bool value and then the \"attachment_name\" field with the user-specified name. Here is the message:\n\n{{ $('If No prompt Injection ').item.json.filtered_text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        1696
      ],
      "id": "500fe0d4-040e-4123-b50e-c8457c92d12c",
      "name": "Gmail Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this user input, parse it and fill out the json below and output it.  Name will represent either a file/folder name.  Content will be used if the user is trying to make a new file and are supplying text or json to you: {{ $('If No prompt Injection ').item.json.filtered_text }}\"\n{\n\t\"name\": \"name here\",\n\t\"content\": \"string here\",\n    \"operation\": \"op\"\n}\n\nIf the operation involves creating a folder, \"operation\" = \"createf\".\nIf the operation involves creating a file, \"operation\" = \"create\".\nIf the operation involves opening/reading a folder, \"operation\" = \"openf\".\nIf the operation involves opening/reading a file, \"operation\" = \"open\".\nIf the operation involves searching for a file/folder, \"operation\" = \"search\".",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -256,
        912
      ],
      "id": "a57c100c-92d0-4c14-ae73-527be468676c",
      "name": "Google Drive Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=First detect the \"action\" received from the agent rounter. \n\nIf the action is adding / appending output \"append\" in json\nIf the action is upadting / chaning output \"update\" in json\nIf the action is creating output \"create\" in json\nIf the action is returning data AND an employee id is given output \"retrieve\" and \"employeeID\" in json\n\n{{ $('If No prompt Injection ').item.json.filtered_text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -192,
        192
      ],
      "id": "33880c0e-1ff2-4fe4-ae42-553e3884f0b1",
      "name": "Expense Management Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer this prompt and only use the vector store if the prompt involves company expense document's or other emplyoee financial information: {{ $json.chatinput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        2560
      ],
      "id": "f2f44800-318e-4934-869a-38cb9434190f",
      "name": "RAG Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('LLM To answer malicious questions').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2096,
        2048
      ],
      "id": "5a868338-c47d-4d23-aeb9-4a8887fca28a",
      "name": "Respond to Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('RAG Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        2656
      ],
      "id": "5aba6ae5-d842-45be-9102-8d2a788360c7",
      "name": "Respond to Webhook1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI",
          "mode": "list",
          "cachedResultName": "Master Expense",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "EmployeeID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        368
      ],
      "id": "8e4496cc-cd76-4197-88f4-a26b1627de3a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uwoq34r9PBLNkXRr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "csen296b@gmail.com",
        "subject": "=New Expense Submission - {{ $json.employeeId }} ({{ $json.expenseCount }} expenses)",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #2563eb;\">New Expense Submission</h2>\n  \n  <p><strong>Employee {{ $json.employeeId }}</strong> has submitted <strong>{{ $json.expenseCount }} expense(s)</strong> totaling <strong>{{ $json.currency }} {{ $json.totalAmount }}</strong>.</p>\n  \n  <h3>Expenses Submitted:</h3>\n  <pre style=\"background: #f3f4f6; padding: 15px; border-radius: 6px;\">{{ $json.expenseList }}</pre>\n  \n  <p style=\"margin: 20px 0;\">\n    <a href=\"http://localhost:3001/admin/dashboard\" \n       style=\"background-color: #2563eb; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block;\">\n      Review in Dashboard\n    </a>\n  </p>\n  \n  <p style=\"color: #6b7280; font-size: 12px;\">\n    This is an automated notification from Lighthouse AI Expense Management.\n  </p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        -144
      ],
      "id": "b1c65ed5-1528-4d5c-b0b1-96eb6f71c461",
      "name": "Send a message1",
      "webhookId": "37186cf5-3ad1-402c-9204-f603910eb7fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "ea7jSlHYi60T6XaV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"text\": \"{{ $('Terminal Chat Input').item.json.chatInput }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3376,
        1712
      ],
      "id": "17ceab27-5fdc-4ed0-aaec-30e2ce7ef114",
      "name": "Normalize Chat Input"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"text\": \"{{ $('Data Input').item.json.body.text }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2768,
        1536
      ],
      "id": "1238cefd-a126-401a-8917-2024436643d1",
      "name": "Normalize Webhook Input"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -3776,
        1712
      ],
      "id": "28c30f32-0720-49c8-8932-2388182a29d1",
      "name": "Terminal Chat Input",
      "webhookId": "e953628c-5cd3-4d83-a3de-ff8ede523bfd",
      "alwaysOutputData": true,
      "notes": "Accepts user input\n"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"Safe model Output\",\n        \"node\": \"Prompt Injection Safe model output\",\n        \"event_type\": \"Prompting LLM (no tool use)\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"Received Prompt: {{ $('Prompt Filtering Check').item.json.filtered_text }} - Model Output - {{ $json.text }}\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2096,
        1888
      ],
      "id": "9570b5a9-7c51-4726-806d-e66f4e988e45",
      "name": "Log Model Output",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://filter-service:5001/filter",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2560,
        1664
      ],
      "id": "5fadfb9c-2c4e-45c7-80bd-06759f678433",
      "name": "Prompt Filtering Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"data input\",\n        \"node\": \"Chat Input Log\",\n        \"event_type\": \"data input chat trigger\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"Chat input received from Chat Trigger\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3568,
        1712
      ],
      "id": "9937cb27-a72b-49ed-b824-9cb125a72a0c",
      "name": "Chat Input Log"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"data input\",\n        \"node\": \"Chat webhook input node\",\n        \"event_type\": \"data input webhook\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"Chat input received from webhook\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2960,
        1536
      ],
      "id": "9a9edc8e-6315-4e08-b85e-b65e2b03d703",
      "name": "Chat Webhook Input Log",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d8682d20-3eaa-4a7c-b041-111fbdf3f6d7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3392,
        1536
      ],
      "id": "1d6a4c93-4b97-42df-ad44-0b335d010433",
      "name": "Webhook Chat Input",
      "webhookId": "595ac7f1-2649-44ed-9657-144bdf0b72d4",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"data input\",\n        \"node\": \"File Webhook Input Log\",\n        \"event_type\": \"data input webhook\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"File input received from webhook\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2832,
        912
      ],
      "id": "11e59687-e53b-46e5-98f1-3352cfee82b0",
      "name": "File Webhook Input Log"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"task decomposition\",\n        \"node\": \"Task Decomposition LLM Node\",\n        \"event_type\": \"Task Decomposition\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"Received Prompt: {{ $('Prompt Filtering Check').item.json.filtered_text }} - Model Output - {{ $json.safeActionsString }}\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -816,
        1280
      ],
      "id": "718ef24e-2b35-46ea-865a-9e4601192aff",
      "name": "Task Decomp Log 1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Input: The data from the previous node\nconst item = $json;\n\n// 1. Safely access the actions array\nconst actions = item.output?.actions ?? [];\n\n// 2. Stringify the array\nconst actionsString = JSON.stringify(actions);\n\n// 3. ESCAPE the double quotes in the resulting string \n//    Replace \" with \\\" (Note: The second \\ is to escape the first \\)\nconst safeActionsString = actionsString.replace(/\"/g, '\\\\\"');\n\n// Store the final, double-quote-escaped string\nitem.safeActionsString = safeActionsString;\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1280
      ],
      "id": "fea1cc46-5f59-4b22-9e1e-c4609a56736a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"Safe model Output\",\n        \"node\": \"RAG enabled LLM\",\n        \"event_type\": \"Prompting LLM (no tool use)\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          {{ JSON.stringify('Received Prompt: ' + $('Edit Fields').item.json.chatinput + ' Model Output - ' + $json.output) }}\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        2432
      ],
      "id": "4789b0f8-8af1-491d-bfe7-46961ab12956",
      "name": "Log Model Output 2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI",
          "mode": "list",
          "cachedResultName": "Master Expense",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "TransactionID",
              "displayName": "TransactionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EmployeeID",
              "displayName": "EmployeeID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DateIncurred",
              "displayName": "DateIncurred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DateSubmitted",
              "displayName": "DateSubmitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PaymentMethod",
              "displayName": "PaymentMethod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AmountUSD",
              "displayName": "AmountUSD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ReceiptAttached",
              "displayName": "ReceiptAttached",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ReimbursementType",
              "displayName": "ReimbursementType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -144
      ],
      "id": "290c4df2-42e6-4a34-a5c2-7434c45609fa",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uwoq34r9PBLNkXRr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Need to find employee or user email adress to notifcy them of the status of these actions\n",
        "height": 192,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        112
      ],
      "typeVersion": 1,
      "id": "6edcf00f-2b50-4001-bfdc-e244a175b330",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Expense Management Agent",
        "height": 704,
        "width": 1792,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        -240
      ],
      "typeVersion": 1,
      "id": "bebcf5a8-1b3f-45e2-adf1-784afd541364",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Google Drive Management Agent",
        "height": 704,
        "width": 1792,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        672
      ],
      "typeVersion": 1,
      "id": "66597576-cf6e-4306-bf7c-e2b6bbe5ccfa",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.output.name }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        1184
      ],
      "id": "409ab1b9-06e3-4d25-9ce7-79195594e13d",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8741ca2-af80-4803-b6bf-7834e2312770",
              "leftValue": "={{ $item(\"0\").$node[\"Search files and folders1\"].json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        1184
      ],
      "id": "9f121032-1b72-40cf-bc0d-909d0a711f11",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a94f538c-10f3-47b4-ac6b-120bce8e7f6e",
              "name": "text",
              "value": "={{ $json.name }} sucessfully found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        1056
      ],
      "id": "5ec1d5fd-56b3-4169-94ba-a6420421799a",
      "name": "File Found"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a94f538c-10f3-47b4-ac6b-120bce8e7f6e",
              "name": "text",
              "value": "={{ $json.name }} not found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        1232
      ],
      "id": "158b9e78-703b-4480-8f7b-2eaf5ded8288",
      "name": "File Not Found"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        848
      ],
      "id": "8ecb41b3-1cd4-4014-8fca-358b64ab2e7a",
      "name": "Send a message2",
      "webhookId": "37186cf5-3ad1-402c-9204-f603910eb7fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "ea7jSlHYi60T6XaV",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Need to find employee or user email adress to notifcy them of the status of these actions\n",
        "height": 192,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        848
      ],
      "typeVersion": 1,
      "id": "bcc01d49-a166-4ba4-a3c5-eb719493ac1c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Email Management Agent",
        "height": 704,
        "width": 1792,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        1488
      ],
      "typeVersion": 1,
      "id": "32a5e75d-d157-466f-9863-d372f327d149",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# RAG Agent for Strictly Answering questions (no tools)\n",
        "height": 704,
        "width": 1792,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        2320
      ],
      "typeVersion": 1,
      "id": "fcb39e0b-3925-487f-aa93-7cedb7342502",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"data input\",\n        \"node\": \"File Webhook Input Log\",\n        \"event_type\": \"file input webhook\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"File input blocked\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2224,
        1280
      ],
      "id": "e1c739c0-0a44-46c4-aebd-6a6ef49818d6",
      "name": "Bad Document Detected"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"data input\",\n        \"node\": \"File Webhook Input Log\",\n        \"event_type\": \"file input webhook\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"123\"\n      },\n      \"values\": [\n        [\n          \"{{ (Date.now() * 1000000).toString() }}\",\n          \"File input allowed\"\n        ]\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2032,
        864
      ],
      "id": "2f8c98c6-feb6-4467-a5dd-3250ddbd7b3c",
      "name": "Good Document Detected"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe9aaaad-3673-40da-8cfd-b0e68ba08da0",
              "leftValue": "={{ $json.output.attachment }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        1696
      ],
      "id": "40737e9b-f62e-492c-bc9e-9c69011017aa",
      "name": "If3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Agent').item.json.output.recipient }}",
        "subject": "={{ $('Gmail Agent').item.json.output.subject }}",
        "emailType": "text",
        "message": "={{ $('Gmail Agent').item.json.output.message }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        1600
      ],
      "id": "61de679f-c115-445f-b525-c5c7f4b05145",
      "name": "Send a message3",
      "webhookId": "091e86df-71dc-4958-9e73-656f72e2a98a",
      "credentials": {
        "gmailOAuth2": {
          "id": "ea7jSlHYi60T6XaV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        1600
      ],
      "id": "7b7731d0-879f-4521-9d1f-c979ff51444b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Gmail Agent').item.json.output.attachment_name }}",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        1600
      ],
      "id": "f1f3e029-f2eb-4f43-be71-2e33948e843a",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Need to check sql db for user email if AI agent cannot find it in parsed text\n",
        "height": 96,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        1584
      ],
      "typeVersion": 1,
      "id": "782249c4-b6e6-4113-9783-a56f2926b294",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56c6e851-f9f9-4e83-b008-ae5dd58c875b",
              "leftValue": "={{ Object.keys($binary) }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3536,
        1392
      ],
      "id": "7891f414-d5a0-4c07-a43a-8232f3dcf51f",
      "name": "If4"
    },
    {
      "parameters": {
        "content": "# File handling\n",
        "height": 672,
        "width": 1184,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3152,
        768
      ],
      "typeVersion": 1,
      "id": "f34fec10-742d-4311-9699-2be48672c060",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Text handling\n",
        "height": 704,
        "width": 1248,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3200,
        1472
      ],
      "typeVersion": 1,
      "id": "d48b5583-977c-4c5a-b6b8-12149959f782",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $('RAG Agent').first().json.output; \n\nconst sanitizedOutput = rawOutput.replace(/\\n/g, '\\\\n');\n\nconst logPayload = {\n    log_message: sanitizedOutput,\n    timestamp: new Date().toISOString()\n};\n\n\n\nreturn {\"output\": sanitizedOutput};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2432
      ],
      "id": "7f755bb3-7135-4b4c-a42f-9f9c88dedcc7",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Lighthouse-input",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3824,
        1392
      ],
      "id": "55d07fbb-82c0-4a6c-bbbe-407f763ed915",
      "name": "Data Input",
      "webhookId": "595ac7f1-2649-44ed-9657-144bdf0b72d4"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1936,
        1104
      ],
      "id": "f73893be-2d61-4aff-899f-e076faa2f768",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Email Sent with id {{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        1776
      ],
      "id": "c01b946c-4e18-466b-89d2-1470e169a81b",
      "name": "Respond to Webhook3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const validatedData = $input.first().json.validated_data || [];\n\n// Return each expense row as a separate item\nreturn validatedData.map(row => ({\n  json: {\n    TransactionID: row.TransactionID,\n    EmployeeID: row.EmployeeID,\n    DateIncurred: row.DateIncurred,\n    DateSubmitted: row.DateSubmitted,\n    Description: row.Description,\n    Vendor: row.Vendor,\n    PaymentMethod: row.PaymentMethod,\n    Currency: row.Currency,\n    Amount: row.Amount,\n    AmountUSD: row.AmountUSD,\n    Category: row.Category,\n    ReceiptAttached: row.ReceiptAttached,\n    ReimbursementType: row.ReimbursementType\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        736
      ],
      "id": "3644237f-22ff-45ae-85d6-e55c9daeb152",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// Replace NaN with null before parsing\nconst dataStr = $input.first().json.data.replace(/NaN/g, 'null');\nconst responseData = JSON.parse(dataStr);\n\nreturn [{\n  json: {\n    allowed: responseData.allowed,\n    validated_data: responseData.validated_data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        864
      ],
      "id": "d4927132-a4dd-4be5-bb36-4985c14fdfa2",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI",
          "mode": "list",
          "cachedResultName": "Master Expense",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "EmployeeID",
              "lookupValue": "={{ $json.body.employeeId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3616,
        1008
      ],
      "id": "609b5997-20df-4fb5-abf3-dfac72c5bb87",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uwoq34r9PBLNkXRr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-expenses",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3824,
        1008
      ],
      "id": "7eaf5131-6451-410d-8338-dda9ea0e4ce0",
      "name": "Fetch WebHook",
      "webhookId": "cce0af36-0b5e-4c4f-82db-426f1ced0eea"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-expense",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3824,
        1184
      ],
      "id": "35881d50-6609-4cdb-a9de-cd2cc6b86d45",
      "name": "Submit Expense",
      "webhookId": "a09347a3-5d67-4d06-aa07-f8d59f6b8105"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI",
          "mode": "list",
          "cachedResultName": "Master Expense",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-6buw-7Gbm7cMR0aXcWaXUckh51lmymM50bBO1SaoI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TransactionID": "={{ $json.body.expense.transactionId }}",
            "EmployeeID": "={{ $json.body.expense.employeeId }}",
            "DateIncurred": "={{ $json.body.expense.dateIncurred }}",
            "DateSubmitted": "={{ $json.body.expense.dateSubmitted }}",
            "Description": "={{ $json.body.expense.description }}",
            "Vendor": "={{ $json.body.expense.vendor }}",
            "PaymentMethod": "={{ $json.body.expense.paymentMethod }}",
            "Currency": "={{ $json.body.expense.currency }}",
            "Amount": "={{ $json.body.expense.amount }}",
            "AmountUSD": "=",
            "Category": "={{ $json.body.expense.category }}",
            "ReimbursementType": "={{ $json.body.expense.reimbursementType }}",
            "ReceiptAttached": "={{ $json.body.expense.receiptAttached }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TransactionID",
              "displayName": "TransactionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EmployeeID",
              "displayName": "EmployeeID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateIncurred",
              "displayName": "DateIncurred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateSubmitted",
              "displayName": "DateSubmitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PaymentMethod",
              "displayName": "PaymentMethod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AmountUSD",
              "displayName": "AmountUSD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReceiptAttached",
              "displayName": "ReceiptAttached",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReimbursementType",
              "displayName": "ReimbursementType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3584,
        1184
      ],
      "id": "1a2ae08b-a3bd-43a9-b503-0b1df6fc34e0",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uwoq34r9PBLNkXRr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb518794-2136-4645-8a0f-d244d9c1eeec",
              "name": "success",
              "value": "true",
              "type": "string"
            },
            {
              "id": "05efed2b-c59f-4c50-8b0a-8d4f4ad2e9b3",
              "name": "message",
              "value": "Expense submitted successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3248,
        1184
      ],
      "id": "79271787-75e5-48a2-974b-c266be3fe267",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all expense rows into a single array response\nconst allExpenses = $input.all().map(item => item.json);\nreturn [{ json: { expenses: allExpenses } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3472,
        1008
      ],
      "id": "bb326d6c-afd5-4ea1-a80b-f95d9d102fdb",
      "name": "Aggregate Expenses"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3312,
        1008
      ],
      "id": "f61c78bc-6c1a-47c7-8ba7-fe141a42dc71",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "jsCode": "// Debug: Log all input\nconsole.log(\"=== AGGREGATE FOR EMAIL ===\");\nconsole.log(\"Number of items received:\", $input.all().length);\nconsole.log(\"Input data:\", JSON.stringify($input.all(), null, 2));\n\n// Get all items that were just appended\nconst items = $input.all();\n\n// Handle case where there are no items\nif (items.length === 0) {\n  console.log(\"ERROR: No items received!\");\n  return [];\n}\n\n// Get the employee ID from the first item\nconst employeeId = items[0].json.EmployeeID || items[0].json.employeeId;\nconsole.log(\"Employee ID:\", employeeId);\n\n// Build expense summary\nconst expenses = items.map(item => ({\n  transactionId: item.json.TransactionID || item.json.transactionId,\n  category: item.json.Category || item.json.category,\n  amount: item.json.Amount || item.json.amount,\n  currency: item.json.Currency || item.json.currency || 'USD',\n  description: item.json.Description || item.json.description,\n  vendor: item.json.Vendor || item.json.vendor\n}));\n\nconsole.log(\"Expenses:\", JSON.stringify(expenses, null, 2));\n\n// Calculate total\nconst total = expenses.reduce((sum, exp) => sum + parseFloat(exp.amount || 0), 0);\nconsole.log(\"Total:\", total);\n\n// Return single item for one email\nconst result = {\n  json: {\n    employeeId: employeeId,\n    expenseCount: items.length,\n    totalAmount: total.toFixed(2),\n    currency: expenses[0].currency,\n    expenses: expenses,\n    expenseList: expenses.map(e => \n      `• ${e.category}: ${e.currency} ${e.amount} - ${e.description} (${e.vendor})`\n    ).join('\\n')\n  }\n};\n\nconsole.log(\"Output for email:\", JSON.stringify(result, null, 2));\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -144
      ],
      "id": "460ae817-1a09-4090-a561-53482347c05e",
      "name": "Aggregate for Email"
    },
    {
      "parameters": {
        "sendTo": " csen296b@gmail.com",
        "subject": "=New Expense Submission - {{ $json.EmployeeID }} - {{ $json.Category }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">   <h2 style=\"color: #2563eb;\">New Expense Submitted</h2>      <p>Employee <strong>{{ $json.EmployeeID }}</strong> has submitted a new expense.</p>      <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">     <tr style=\"background-color: #f3f4f6;\">       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\"><strong>Transaction ID</strong></td>       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\">{{ $json.TransactionID }}</td>     </tr>     <tr>       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\"><strong>Category</strong></td>       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\">{{ $json.Category }}</td>     </tr>     <tr style=\"background-color: #f3f4f6;\">       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\"><strong>Amount</strong></td>       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\">{{ $json.Currency }} {{ $json.Amount }}</td>     </tr>     <tr>       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\"><strong>Description</strong></td>       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\">{{ $json.Description }}</td>     </tr>     <tr style=\"background-color: #f3f4f6;\">       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\"><strong>Vendor</strong></td>       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\">{{ $json.Vendor }}</td>     </tr>     <tr>       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\"><strong>Date</strong></td>       <td style=\"padding: 10px; border: 1px solid #e5e7eb;\">{{ $json.DateIncurred }}</td>     </tr>   </table>      <p>     <a href=\"http://localhost:3001/admin/dashboard\"         style=\"background-color: #2563eb; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;\">       Review in Dashboard     </a>   </p> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3424,
        1216
      ],
      "id": "260b3abd-b751-42e9-ade2-5d4d8a7c823b",
      "name": "Send a message4",
      "webhookId": "839d9fc5-f908-412c-9f7f-f13b19e6ccc3",
      "credentials": {
        "gmailOAuth2": {
          "id": "ea7jSlHYi60T6XaV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-logs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4896,
        1168
      ],
      "id": "5355ec52-3c92-4319-833c-6ceed627e7ea",
      "name": "WebhoFetch Logs Webhookok",
      "webhookId": "7709f4cc-f255-470a-a5cd-a21ef336b18e"
    },
    {
      "parameters": {
        "url": "http://loki:3100/loki/api/v1/query_range",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "start",
              "value": "={{ $json.start }}"
            },
            {
              "name": "end",
              "value": "={{ $json.end }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4688,
        1168
      ],
      "id": "ff63fa79-0396-4308-b052-5d7d89e215da",
      "name": "HTTP Request Query Loki"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4464,
        1168
      ],
      "id": "01876e0e-35bb-489e-a889-80fbd33f2f89",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"streams\": [\n    {\n      \"stream\": {\n        \"workflow\": \"expense submission\",\n        \"node\": \"Submit Expense\",\n        \"event_type\": \"Expense Submitted\",\n        \"execution_id\": \"{{ $execution.id }}\",\n        \"user_id\": \"{{ $json.body.expense.employeeId }}\"\n      },\n      \"values\": [\n        [\n          \"{{ Date.now() * 1000000 }}\",\n          \"Expense submitted: TransactionID={{ $json.body.expense.transactionId }}, Category={{ $json.body.expense.category }}, Amount={{ $json.body.expense.amount }} {{ $json.body.expense.currency }}, Employee={{ $json.body.expense.employeeId }}, Vendor={{ $json.body.expense.vendor }}, Description={{ $json.body.expense.description }}\"\n        ]\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3040,
        1296
      ],
      "id": "43a5426a-9dbc-4ead-b3cf-96805658eabb",
      "name": "Logs for Submit exp",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Google Drive Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Good Document Detected",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bad Document Detected",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Document": {
      "main": [
        [
          {
            "node": "File Webhook Input Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "xls to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xls to json": {
      "main": [
        [
          {
            "node": "Format json into json string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format json into json string": {
      "main": [
        [
          {
            "node": "Verify Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Document": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Google Drive Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Google Drive Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Decomposition": {
      "main": [
        [
          {
            "node": "SubTasks Split Function",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Router": {
      "main": [
        [
          {
            "node": "Expense Management Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Router": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Task Decomposition",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Task Decomposition",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Expense Management Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Expense Management Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Task Decomposition",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Expense Management Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "LLM To answer malicious questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Expensegood.xls": {
      "main": [
        [
          {
            "node": "Download Excel File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Excel File": {
      "main": [
        [
          {
            "node": "Convert excel file to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert excel file to json": {
      "main": [
        [
          {
            "node": "Convert data into single json array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert data into single json array": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SubTasks Split Function": {
      "main": [
        [
          {
            "node": "Agent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Injection Detected Log": {
      "main": [
        [
          {
            "node": "LLM To answer malicious questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If No prompt Injection ": {
      "main": [
        [
          {
            "node": "No Prompt Injection Detected Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task Decomposition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt Injection Detected Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Agent": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expense Management Agent": {
      "main": [
        [
          {
            "node": "Sheet Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM To answer malicious questions": {
      "main": [
        [
          {
            "node": "Log Model Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Chat Input": {
      "main": [
        [
          {
            "node": "Prompt Filtering Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Input": {
      "main": [
        [
          {
            "node": "Prompt Filtering Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terminal Chat Input": {
      "main": [
        [
          {
            "node": "Chat Input Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Filtering Check": {
      "main": [
        [
          {
            "node": "If No prompt Injection ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Input Log": {
      "main": [
        [
          {
            "node": "Normalize Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Webhook Input Log": {
      "main": [
        [
          {
            "node": "Normalize Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Chat Input": {
      "main": [
        [
          {
            "node": "Chat Webhook Input Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Task Decomp Log 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "File Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "File Webhook Input Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "xls to json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Webhook Input Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Log Model Output 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Input": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate for Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch WebHook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Expense": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logs for Submit exp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate Expenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Expenses": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Aggregate for Email": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhoFetch Logs Webhookok": {
      "main": [
        [
          {
            "node": "HTTP Request Query Loki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Query Loki": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0bebab7a-ce8d-4463-945f-69573cfd1591",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85d73db211a1ee441813cdc78eebb0b7077e5f916b93a773754214d36365beb5"
  },
  "id": "5QkKGRcrv4jjXVf1",
  "tags": []
}