n8n/CSEN 296B Blue Team Model(1).json
{
  "name": "CSEN 296B Blue Team Model",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        -64
      ],
      "id": "5ff520eb-67be-4eff-a5a3-343e79e1ba5c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        -288
      ],
      "id": "de9c5150-f097-4b58-ba16-82f1fee28ff9",
      "name": "When chat message received",
      "webhookId": "e953628c-5cd3-4d83-a3de-ff8ede523bfd",
      "alwaysOutputData": true,
      "notes": "Accepts user input\n"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f13d079-22cb-4f96-baf6-5a561c5600f7",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -288
      ],
      "id": "e98e30a1-4c59-4fbc-9388-38fdd8f36725",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd74bb19-89aa-4fb4-b34a-6b484bb18a59",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -480
      ],
      "id": "70f3efcf-b7f1-49c0-9b0d-d970b4ffd9ef",
      "name": "If1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expenseUpload",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        -480
      ],
      "id": "c3bf983d-1086-4b15-b8b5-e1e7cb4c64c0",
      "name": "Upload Document",
      "webhookId": "d5e75ac9-e43d-4a1c-a861-18d7e56dbd95",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xls",
        "binaryPropertyName": "excel_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -816,
        -480
      ],
      "id": "6588fece-ed77-45ab-8636-0ada5d022383",
      "name": "xls to json"
    },
    {
      "parameters": {
        "jsCode": "const finalPayload = JSON.stringify($input.all().map(item => item.json));\nreturn [{ json: { bodyString: finalPayload } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -480
      ],
      "id": "8b366d6e-8ff8-4250-9a54-ae89915c11f6",
      "name": "Format json into json string"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://filter-service:5000/verifyfile",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.bodyString }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        -480
      ],
      "id": "31101457-4697-484b-a865-3e93b72b26ba",
      "name": "Verify Document"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://filter-service:5000/filter",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        -288
      ],
      "id": "6f1941cb-3c1b-427c-b333-72ac3dad9f17",
      "name": "Prompt Filtering"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// console.log(\"✅ Validation completed successfully\");\n// console.log(\"Validated rows:\", $input.all().length);\n// return $input.all();\n\n// console.log(\"Custom workflow message\", $input.item.json);\n// return $input.item;\n\nreturn {\"output\":\"this is a test output11\"}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -656
      ],
      "id": "f54e0d7a-0a26-49eb-a611-ecb5d3323a03",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        -64
      ],
      "id": "8f89196d-1508-422b-a64e-977fac89af49",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output.content }}",
        "name": "={{ $json.output.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        -304
      ],
      "id": "c2ab80cd-2bc1-47f4-bba9-947743fc4e18",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"name\": \"name here\",\n\t\"content\": \"string here\",\n    \"operation\": \"op\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        -48
      ],
      "id": "7776b372-04aa-46e0-ab27-6b866cfd4375",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        96,
        -416
      ],
      "id": "867b6b2f-9cf6-430e-b54c-0af662a11dc4",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -176
      ],
      "id": "8e16581d-94b2-4a04-aba7-84df8882bc3f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parse the content below and fill out the json that I have provided. {{ $json.filtered_text }}\nIf you are asked to get a file, use the google drive tool to download and save the file and then pass this file in the json string with the key \"attachment\".\n\n{\n\t\"recipient\": \"email\",\n\t\"subject\": \"string here\",\n    \"message\": \"content\",\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        944,
        -704
      ],
      "id": "76dde3eb-f89d-427c-b3c8-d75cd03f5dbb",
      "name": "AI Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1008,
        -512
      ],
      "id": "6ccccdb1-02e3-4e3d-8134-2c3d73a474c0",
      "name": "Simple Memory1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        -528
      ],
      "id": "7087f645-046c-4d09-8a80-bcd048f837c0",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "kAQAHUlrXKM9oMfU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"recipient\": \"email\",\n\t\"subject\": \"string here\",\n    \"message\": \"content\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1104,
        -528
      ],
      "id": "10b5aa46-29d7-4a7b-be85-7715959b3be9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "folder",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        -160
      ],
      "id": "7555d678-235c-456f-a0b8-3cab6b444de4",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.operation }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d123d32-d8a5-4e56-8b16-2c2bef4017e3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b5c78f7-8982-439b-9731-22568d75963d",
                    "leftValue": "={{ $json.output.operation }}",
                    "rightValue": "createf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "464e7a3d-3257-4fe5-9bc2-52610a41ea7e",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0faf1e57-69ff-4140-9fc2-037a1dd5a9af",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36b1f1a1-ba3f-4582-9a9b-d249f4665042",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1008,
        -224
      ],
      "id": "60d93060-8788-455d-935d-11b55e100331",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this user input, parse it and fill out the json below and output it. {{ $json.filtered_text }}\n{\n\t\"name\": \"name here\",\n\t\"content\": \"string here\",\n    \"operation\": \"op\"\n}\nIf you see the words \"create folder\": operation = \"createf\"\nIf you see the words \"create file\": operation = \"create\"",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        656,
        -224
      ],
      "id": "d7061c4e-adf1-4e8e-844c-e735e50a9b09",
      "name": "AI Drive Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.output.recipient }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.message }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        -704
      ],
      "id": "0c3a36a1-0a44-4524-a1d4-fc4d6653ca48",
      "name": "Send a message",
      "webhookId": "091e86df-71dc-4958-9e73-656f72e2a98a",
      "credentials": {
        "gmailOAuth2": {
          "id": "ea7jSlHYi60T6XaV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1AhfMEMOmw_xu284OTWWJBJ4akWe50zUV",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1328,
        -704
      ],
      "id": "2a0ad23f-5265-47c4-8284-a2b047a6babe",
      "name": "Download file",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "Verify Document": [
      {
        "json": {
          "allowed": true,
          "validated_data": [
            {
              "Amount": 450.75,
              "AmountUSD": 5000,
              "Category": "Travel",
              "Currency": "USD",
              "DateIncurred": "Thu, 01 Jan 1970 00:00:00 GMT",
              "DateSubmitted": "Thu, 01 Jan 1970 00:00:00 GMT",
              "Description": "Flight to NYC",
              "EmployeeID": "EMP-401",
              "PaymentMethod": "Corporate Card",
              "ReceiptAttached": "Y",
              "ReimbursementType": "Corporate Card Issuer",
              "TransactionID": "T-001",
              "Vendor": "Delta Airlines"
            },
            {
              "Amount": 85.5,
              "AmountUSD": 5000,
              "Category": "Meals & Entertainment",
              "Currency": "EUR",
              "DateIncurred": "Thu, 01 Jan 1970 00:00:00 GMT",
              "DateSubmitted": "Thu, 01 Jan 1970 00:00:00 GMT",
              "Description": "Dinner with Client",
              "EmployeeID": "EMP-401",
              "PaymentMethod": "Personal Card",
              "ReceiptAttached": "Y",
              "ReimbursementType": "Employee",
              "TransactionID": "T-002",
              "Vendor": "Local Bistro"
            }
          ]
        }
      }
    ],
    "Create file from text": [
      {
        "json": {
          "id": "1AhfMEMOmw_xu284OTWWJBJ4akWe50zUV"
        }
      }
    ]
  },
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Drive Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Prompt Filtering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Drive Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Document": {
      "main": [
        [
          {
            "node": "xls to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xls to json": {
      "main": [
        [
          {
            "node": "Format json into json string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format json into json string": {
      "main": [
        [
          {
            "node": "Verify Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Document": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Filtering": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Drive Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Drive Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "AI Drive Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "AI Drive Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80523c99-64c7-4d2c-a3e9-5fb15e623709",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85d73db211a1ee441813cdc78eebb0b7077e5f916b93a773754214d36365beb5"
  },
  "id": "5QkKGRcrv4jjXVf1",
  "tags": []
}