n8n/config/CSEN 296B Blue Team Model.json
{
  "name": "CSEN 296B Blue Team Model",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        -400
      ],
      "id": "d7061c4e-adf1-4e8e-844c-e735e50a9b09",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        -160
      ],
      "id": "ccc18ea6-986d-4ae0-a5bb-e86512b20927",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8kRxMUL2JaSHpTFJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        -160
      ],
      "id": "5ff520eb-67be-4eff-a5a3-343e79e1ba5c",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        -480
      ],
      "id": "de9c5150-f097-4b58-ba16-82f1fee28ff9",
      "name": "When chat message received",
      "webhookId": "e953628c-5cd3-4d83-a3de-ff8ede523bfd",
      "alwaysOutputData": true,
      "notes": "Accepts user input\n"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://filter-service:5000/filter",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        -480
      ],
      "id": "6f1941cb-3c1b-427c-b333-72ac3dad9f17",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f13d079-22cb-4f96-baf6-5a561c5600f7",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        -480
      ],
      "id": "e98e30a1-4c59-4fbc-9388-38fdd8f36725",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd74bb19-89aa-4fb4-b34a-6b484bb18a59",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        -288
      ],
      "id": "70f3efcf-b7f1-49c0-9b0d-d970b4ffd9ef",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        288,
        -160
      ],
      "id": "4d469b6c-bda5-46d1-82fb-32dc017eeb04",
      "name": "Send a message in Gmail",
      "webhookId": "c3f896c3-f62e-41a2-995f-3a576b65498d",
      "credentials": {
        "gmailOAuth2": {
          "id": "ea7jSlHYi60T6XaV",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        512,
        -160
      ],
      "id": "e5b7b7cc-5137-469c-b422-1c38c1c40512",
      "name": "Upload file in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5iuayeDzmPUSzGlK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expenseUpload",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        -288
      ],
      "id": "c3bf983d-1086-4b15-b8b5-e1e7cb4c64c0",
      "name": "Upload Document",
      "webhookId": "d5e75ac9-e43d-4a1c-a861-18d7e56dbd95",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xls",
        "binaryPropertyName": "excel_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -832,
        -288
      ],
      "id": "6588fece-ed77-45ab-8636-0ada5d022383",
      "name": "xls to json"
    },
    {
      "parameters": {
        "jsCode": "const finalPayload = JSON.stringify($input.all().map(item => item.json));\nreturn [{ json: { bodyString: finalPayload } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -288
      ],
      "id": "8b366d6e-8ff8-4250-9a54-ae89915c11f6",
      "name": "Format json into json string"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://filter-service:5000/verifyfile",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.bodyString }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        -288
      ],
      "id": "31101457-4697-484b-a865-3e93b72b26ba",
      "name": "Verify Document"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload Document": {
      "main": [
        [
          {
            "node": "xls to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xls to json": {
      "main": [
        [
          {
            "node": "Format json into json string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format json into json string": {
      "main": [
        [
          {
            "node": "Verify Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Document": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c75e7a4-2a96-40bc-9eb2-b3a25e6898e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85d73db211a1ee441813cdc78eebb0b7077e5f916b93a773754214d36365beb5"
  },
  "id": "5QkKGRcrv4jjXVf1",
  "tags": []
}